---
import { getVersion, getNamespaces, getNamespace } from '../data.js'

import BaseLayout from '../layouts/Base.astro'
import Doc from '../components/Doc.astro'
import TypeParam from '../components/TypeParam.astro'
import Card from '../components/Card.astro'

export function getStaticPaths() {
  return getNamespaces().map((ns) => {
    return { params: { namespace: ns } }
  })
}

const { namespace } = Astro.params
const ns = getNamespace(namespace)
---

<BaseLayout>
  <h1>{namespace}</h1>
  <p>{getVersion()}</p>

  <div>
    <h2>Classes</h2>

    <div class="grid gap-3">
      {
        ns.classes?.map((c) => (
          <Card id={`c-${c.sym.name}`}>
            <p>
              class {c.sym.name} [<TypeParam tparam={c.tparam} />]
            </p>
            <Doc doc={c.doc} />
          </Card>
        ))
      }
    </div>
  </div>

  <div>
    <h2>Definitions</h2>

    <div class="grid gap-3">
      {
        ns.defs?.map((d) => (
          <Card id={`d-${d.sym.name}`}>
            <p>def {d.sym.name}</p>

            <Doc doc={d.doc} />
          </Card>
        ))
      }
    </div>
  </div>
</BaseLayout>
