---
import { getNamespaces, getNamespace } from '../data.js'

import s from './namespace.module.css'

import BaseLayout from '../layouts/Base.astro'
import Doc from '../components/Doc.astro'
import TypeParam from '../components/TypeParam.astro'
import TypeConstraints from '../components/TypeConstraints.astro'
import Instance from '../components/Instance.astro'
import Source from '../components/Source.astro'
import Card from '../components/Card.astro'
import DefDetails from '../components/DefDetails.astro'
import AsideLinks from '../components/AsideLinks.astro'

export function getStaticPaths() {
  return getNamespaces().map((ns) => {
    return { params: { namespace: ns } }
  })
}

const { namespace } = Astro.params
const ns = getNamespace(namespace)

const classes = ns.classes?.map((c) => ({
  link: `#c-${c.sym.name}`,
  name: c.sym.name,
}))

const definitions = ns.defs?.map((d) => ({
  link: `#d-${d.sym.name}`,
  name: d.sym.name,
}))

const namespaces = getNamespaces().map((ns) => ({
  link: `/${ns}`,
  name: ns,
}))
---

<BaseLayout>
  <aside slot="left">
    <div class="aside">
      <AsideLinks name="Namespaces" items={namespaces} />
    </div>
  </aside>

  <aside slot="right">
    <div class="aside">
      <AsideLinks name="Classes" items={classes} />
      <AsideLinks name="Definitions" items={definitions} />
    </div>
  </aside>

  <div class="sticky" style="--top: 0">
    <h1 class="mb-5">{namespace}</h1>
  </div>

  <div class="grid gap-3 mb-3">
    <h3>Classes</h3>

    <div class="grid gap-3">
      {
        ns.classes?.map((c) => (
          <Card id={`c-${c.sym.name}`}>
            <div class="font-mono flex align-center justify-space-between">
              <div>
                class <span class="t-name">{c.sym.name}</span>
                [<TypeParam tparam={c.tparam} withKind />]
                <TypeConstraints tcs={c.superClasses} />
              </div>
              <Source loc={c.loc} />
            </div>

            <div class="pl-3 mb-3">
              <Doc doc={c.doc} />
            </div>

            <DefDetails
              open
              summary="Signatures"
              classList={s.details}
              defs={c.sigs}
            />

            <DefDetails
              summary="Definitions"
              classList={s.details}
              defs={c.defs}
            />

            <details class={s.details}>
              <summary class="mb-3">Instances</summary>

              <div class="grid gap-2 stripped">
                {c.instances.map((inst) => (
                  <div class="font-mono flex gap-2 align-center justify-space-between p-2">
                    <Instance inst={inst} />
                    <Source loc={inst.loc} />
                  </div>
                ))}
              </div>
            </details>
          </Card>
        ))
      }
    </div>
  </div>

  <div class="grid gap-3 mb-3">
    <h3>Definitions</h3>

    <div class="grid gap-3">
      {
        ns.defs?.map((d) => (
          <Card id={`d-${d.sym.name}`}>
            <p class="font-mono">def {d.sym.name}</p>

            <Doc doc={d.doc} />
          </Card>
        ))
      }
    </div>
  </div>

  <datalist id="js-current-ns-defs">
    {ns.defs?.map((d) => <option value={d.sym.name} />)}
  </datalist>
</BaseLayout>
