---
import Doc from './Doc.astro'
import Signature from './Signature.astro'
import Source from './Source.astro'
import SourceGrid from './SourceGrid.astro'

const { defs, classList, summary, open = false } = Astro.props
---

<style>
  .break {
    margin-left: calc(var(--size-3) * -1);
    margin-right: calc(var(--size-3) * -1);
    padding: var(--size-3);
  }
</style>

{
  defs?.length > 0 && (
    <details class:list={classList} open={open}>
      <summary class="mb-3">{summary}</summary>

      <div class="grid gap-2 stripped">
        {defs.map((sig) => (
          <div class="grid gap-3 break">
            <SourceGrid>
              <Signature sig={sig} />
              <Source loc={sig.loc} />
            </SourceGrid>

            {sig.doc?.length > 0 && <Doc doc={sig.doc} />}
          </div>
        ))}
      </div>
    </details>
  )
}
