---
import Card from './Card.astro'
import Doc from './Doc.astro'
import Signature from './Signature.astro'
import Source from './Source.astro'
import SourceGrid from './SourceGrid.astro'
import Annotations from './Annotations.astro'

const { defs } = Astro.props
---

<h3 class="font-fluid-2">Definitions</h3>

<div class="grid gap-3">
  {
    defs.map((sig) => (
      <Card id={`d-${sig.sym.name}`}>
        <div class="grid gap-3">
          <Annotations ann={sig.ann} />

          <SourceGrid>
            <div class="mobile-nowrap">
              <h4
                id={`definition-${sig.sym.name}`}
                class="font-semibold text-normal"
              >
                <Signature sig={sig} />
              </h4>
            </div>

            <Source loc={sig.loc} />
          </SourceGrid>

          <Doc doc={sig.doc} />
        </div>
      </Card>
    ))
  }
</div>
